{% extends "base.html" %}
{% load static %}
{% load icon %}


{% block stylesheet %}
<!-- <link rel="stylesheet" href="{# static 'css/searchbar.css' #}"> -->

<style>
    /* Styles pour la barre de recherche avec icône alignée */
    .search-bar {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%; /* Ajustez la largeur selon vos besoins */
        max-width: 400px; /* Largeur maximale de la barre de recherche */
    }

    .search-bar input {
        border: none;
        border-bottom: 2px solid #ccc;
        background: transparent;
        padding: 5px 0;
        padding-left: 30px; /* Espace pour l'icône */
        font-size: 14px;
        outline: none;
        flex-grow: 1; /* Remplit l'espace disponible */
        transition: border-color 0.3s ease;
    }

    .search-bar input:focus {
        border-bottom-color: #0c7dd4; /* Couleur sur focus */
    }

    .search-bar .search-icon {
        position: absolute;
        left: 8px; /* Ajustez selon la taille de l'icône */
        color: #888;
        font-size: 16px; /* Taille de l'icône */
    }

    .search-bar button {
        margin-left: 10px;
        padding: 5px 10px;
        font-size: 14px;
    }
</style>


{% endblock stylesheet %}


{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">{{card_title}}</li>
{% endblock breadcrumb %}

{% block title %} {{card_title}} {% endblock title %}


{% block content %}
<div class="card" >
    <div class="card-header" >
        <h2 >{{card_title}}</h2>
        {% block more-info %}{% endblock more-info %}
    </div>
    <div class="card-body">
        <div class="d-flex flex-row mb-5 justify-content-between">
            <div class="col-6">
                <div class="search-bar">
                    <i class="fas fa-search search-icon">âzertyuiklo</i>
                    <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Rechercher..." aria-label="Rechercher">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
                </div>
            </div>
            <div class="d-flex flex-row mb-5 justify-content-between">
                {% block toolbar %}
                {% include "components/toolbar.html" %}
                {% block toolbar-plus %}{% endblock toolbar-plus %}
                {% endblock toolbar %}
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="center">#</th>
                        {% block table-headers %}{% endblock table-headers %}
                        <th class="center text-center"> Action </th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr class="odd gradeX">
                        <td scope="row" class="center">{{ forloop.counter }}</th>
                        {% block table-rows %}{% endblock table-rows %}
                        <td class="center">
                            <div class="btn-group" role="group" aria-label="buttons group">
                                {% block list-options %}
                                <a href="{% url info_url object.slug|default:object.id %}">
                                    <button type="button" class="btn btn-md btn-outline-info" data-bs-toggle="popover"
                                        data-bs-content="Voir les détails" data-bs-container="body" data-bs-placement="top">
                                        {% icon "info" height=option_size width=option_size %}
                                    </button>
                                </a>
                                
                                    <a href="{% url update_url object.slug|default:object.id %}">
                                        <button type="button" class="btn btn-md btn-outline-success" data-bs-toggle="popover" data-bs-content="Modifier"
                                            data-bs-container="body" data-bs-placement="top">
                                            {% icon "edit" height=option_size width=option_size %}
                                        </button>
                                    </a>
                                        <a href="{% url delete_url object.slug|default:object.id %}" class="delete-btn">
                                            <button type="button" class="btn btn-md btn-outline-danger" data-bs-toggle="popover" data-bs-content="Supprimer"
                                                data-bs-container="body" data-bs-placement="top">
                                                {% icon "trash" height=option_size width=option_size %}
                                            </button>
                                        </a>
                                {% block other-options %}
                                
                                {% endblock other-options %}

                                {% endblock list-options %}
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="20">
                            Aucun enregistrement
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% block add-more %}{% endblock add-more %}
</div>
{% endblock content %}
