{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Détails de la Promotion : {{ object.name }}</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Informations sur la Promotion</h6>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    <strong>Nom :</strong>
                    <p>{{ object.name }}</p>
                </div>
                <div class="col-md-6">
                    <strong>Date de Début :</strong>
                    <p>{{ object.start_date|date:"d/m/Y" }}</p>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <strong>Date de Fin :</strong>
                    <p>{{ object.end_date|date:"d/m/Y" }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-right">
                    <a href="{% url 'promotion:promotion-update' object.pk %}" class="btn btn-warning">
                        <i class="fas fa-edit"></i> Modifier
                    </a>
                    <a href="{% url 'promotion:promotion-delete' object.pk %}" class="btn btn-danger"
                       onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette promotion ?');">
                        <i class="fas fa-trash"></i> Supprimer
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
