{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Main Content -->

  <section class="section">
    <!-- Titre "TABLEAU DE BORD" stylisé -->
    <div style="font-size: 1.3rem; font-weight: bold; color: black; margin-top: 40px; margin-bottom: 20px; ">
      Tableau de bord
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2" style="background-color: #69aeff; height: 120px;">
          <h4 style="font-size: 1rem; font-weight: bold; color: azure; padding-left: 10px; margin-top: 3px;">Total des fiches</h4>
          <div style="flex-direction: row; text-align: center;">
            <div class="card-icon shadow-primary" style="background-color: #69aeff; justify-content: center;">
              <h5>30</h5>

          </div>
        </div>
          <div class="card-header">
  
          </div>
          <div class="card-chart">
            <canvas id="sales-chart" height="80"></canvas>
          </div>
          <div class="card-wrap">
            <div class="card-body">
              <!-- Contenu ici -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2" style="background-color: #45ddbe; height: 120px;">
          <div style="flex-direction: row; text-align: center;"></div>
          <div class="card-icon shadow-primary" style="background-color: #45ddbe;">
            <h5>13</h5>
          </div>
          <div class="card-header">
            <h4 style="font-size: 1rem; font-weight: bold; color: azure;">Validées</h4>
          </div>
          <div class="card-chart">
            <canvas id="sales-chart" height="80"></canvas>
          </div>
          <div class="card-wrap">
            <div class="card-body">
              <!-- Contenu ici -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2" style="background-color: #ff5b77; height: 120px;">
          <div style="flex-direction: row; text-align: center;"></div>
          <div class="card-icon shadow-primary" style="background-color: #ff5b77;">
            <h5>10</h5>
          </div>
          <div class="card-header">
            <h4 style="font-size: 1rem; font-weight: bold; color: azure;">Rejetées</h4>
          </div>
          <div class="card-chart">
            <canvas id="sales-chart" height="80"></canvas>
          </div>
          <div class="card-wrap">
            <div class="card-body">
              <!-- Contenu ici -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2" style="background-color: #ffbd5d; height: 120px;">
          <h4 style="font-size: 1rem; font-weight: bold; color: azure; text-align: center; margin-top: 3px;">En cours de traitement</h4>
          <div style="flex-direction: row; text-align: center;">
          <div class="card-icon shadow-primary" style="background-color: #ffbd5d; margin-bottom: 2px;">
            <h5>07</h5>
          </div>
          <div class="card-header">
            
          </div>
          <div class="card-chart">
            <canvas id="sales-chart" height="80"></canvas>
          </div>
          <div class="card-wrap">
            <div class="card-body">
              <!-- Contenu ici -->
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card mb-4 z-index-2 draggable">
      <div class="card-header pb-0">
          <h6 class="mb-1">Statistiques des fiches</h6>
      </div>
      <div class="card-body">
          <canvas class="chart-bar-stacked" width="400" height="200"></canvas>
      </div>
  </div>
    
 
</div>
<footer class="main-footer">
  <div class="footer-left">
    Copyright UVBF &copy; 2024 <div class="bullet"></div> Design By <a href="#">Faris Rabo</a>
  </div>
  <div class="footer-right">
  </div>
</footer>
</div>




<style>
  .card {
      width: 600px; /* Ajuste la largeur du tableau */
      height: 300px; /* Ajuste la hauteur du tableau */
  }

  .card-body .chart-bar-stacked {
      width: 100%;
      height: 200px; /* Ajuste la hauteur du graphique */
  }
</style>



{% endblock content %}



