{% extends "models/list.html" %}
{% load icon %}
{% load humanize %}
{% load static %}

{% block table-headers %}
<th>Enseignant</th>
<th>Debut de la periode</th>
<th>Fin de la periode</th>
<th>Statut</th> <!-- Nouvelle colonne pour le statut -->
{% endblock table-headers %}

{% block table-rows %}
<td>{{ object.enseignant }}</td>
<td>{{ object.date_debut }}</td>
<td>{{ object.date_fin }}</td>
<td>
    {% if object.is_validated == null %}
        <span class="text-warning">En cours de traitement</span>
    {% elif object.is_validated == 0 %}
        <span class="text-danger">Fiche rejetée</span>
    {% elif object.is_validated == 1 %}
        <span class="text-success">Fiche validée</span>
    {% endif %}
</td> <!-- Affichage du statut -->
{% endblock table-rows %}


{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Fonction pour la recherche dans le tableau
    document.getElementById('searchInput').addEventListener('keyup', function() {
        let searchValue = this.value.toLowerCase();
        let rows = document.querySelectorAll('tbody tr');

        rows.forEach(row => {
            let code = row.cells[1].textContent.toLowerCase();
            let semestres = row.cells[2].textContent.toLowerCase();
            let label = row.cells[3].textContent.toLowerCase();

            if (code.includes(searchValue) || semestres.includes(searchValue) || label.includes(searchValue) ) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>
{% endblock javascript %}
