{% extends 'base.html' %}

{% block content %}
<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4>Ajouter un Département</h4>
                </div>
                <div class="card-body">
                    <django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
                        {{ form }}
                    
                        <div class="offset-sm-3  my-5">
                            {% include 'button.html' with label="Enregistrer" color="btn-success" icon_name='"save"' process="spinner -> submit -> okay(2000) -> proceed !~ bummer(10000) -> scrollToError" %}
                            {% if can_rerender %}
                            {% include 'button.html' with label="Enregistrer et Continuer" color="btn-info" icon_name='"refresh-cw"' process="spinner -> submit -> okay(2000) -> proceed -> reload !~ bummer(10000)" %}
                            {% endif %}
                            <a href="{{ list_url }}">{% include 'button.html' with label="Annuler" color="btn-warning" icon_name='"x"' process="spinner -> reset -> proceed({{request.META.HTTP_REFERER}})" %}</a>
                        </div>
                    
                      </django-formset>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
