{% load static %}


<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="{% url 'index-view' %}">
          <img src="{% static 'img/logo-uvbf.png' %}" alt="Logo" class="sidebar-logo">
        </a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <a href="index.html">Rabo</a>
      </div>
      <ul class="sidebar-menu">
        <li class="menu-header">i</li>
        <li class="dropdown active">
          <a href="{% url 'index-view' %}" class="nav-link3 "><i class="fas fa-home"></i><span>TABLEAU DE BORD</span></a>
          
        </li>
        <li class="menu-header">GESTION PEDAGOGIQUE</li>
        <li class="dropdown">
          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa fa-users"></i> <span>Gestion des fiches</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link5" href="{% url 'fiche_management:sheet-list' %}">Fiches programmatiques</a></li>
          </ul>
        </li>

        {% if perms.xauth.access_parameter%}
        <li class="menu-header">PARAMETRES</li>
        <li class="dropdown">
          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown" ><i class="fas fa fa-graduation-cap"></i> <span>Gestion des cours</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link5" href="{% url 'parameter:uniteDeRecherche-list' %}">UFR</a></li>
            <li><a class="nav-link5" href="{% url 'parameter:departement-list' %}">Départements</a></li>
            <li><a class="nav-link5" href="{% url 'parameter:filiere-list' %}">Filières</a></li>
            <li><a class="nav-link5" href="{% url 'parameter:annee_univ-list' %}">Année Universitaire</a></li>
            <li><a class="nav-link5" href="{% url 'parameter:promotion-list' %}">Promotion</a></li>
            <li><a class="nav-link5" href="{% url 'parameter:semestre-list' %}">Semestre</a></li>
            <li><a class="nav-link5" href="{% url 'parameter:niveau-list' %}">Niveau</a></li>
            <li><a class="nav-link5" href="{% url 'parameter:ue-list' %}">Unité d'Enseignements</a></li>
            <li><a class="nav-link5" href="{% url 'parameter:module-list' %}">Module(s)</a></li>
          </ul>
        </li>
        {% endif %}


        {% if perms.xauth.access_account %}
        <li class="menu-header">GESTION DES UTILISATEURS</li>
        <li class="dropdown">
          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-fw fa-folder"></i> <span>Utilisateurs</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link5" href="{% url 'auth:user-list' %}">Utilisateurs</a></li>
            <li><a class="nav-link5" href="{% url 'auth:group-list' %}">Droit d'accès</a></li>
            <!-- <li><a class="nav-link5" href="{% url 'auth:nominations-list' %}">Nomination</a></li> -->
          </ul>
        </li>
        {% endif %}

        <li><a class="nav-link1" href="#"><i class="fas fa-fw fa-chart-area"></i> <span>Statistiques</span></a></li>  
      </div>
    </aside>
  </div>
  

  